@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: none;
}

body {
    padding-top: 60px;
    
}

.navbar-brand {
    color: #ffffff; 
}


.logo {
    max-height: 40px;
    margin-right: 10px;
}

.container {
    margin-top: 40px;
}

/* Настройка каталога */
.category-link {
    text-decoration: none;
    color: #000; /* Цвет текста */
}

.category-box {
    border: 1px solid #ddd;
    border-radius: 8px; 
    transition: background-color 0.3s;
}

.category-link:hover .category-box {
    background-color: #df971b;
}

.overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .overlay-buttons {
    opacity: 1;
    visibility: visible;
}

