{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
     <!-- Подключение Bootstrap CSS с CDN -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'myapp:index' %}"> <img class="logo" src="{% static 'myapp/img/logo.png' %}"> Croup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:index' %}"><i class="fas fa-home"></i> Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:shop' %}"><i class="fas fa-shopping-cart"></i> Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:contacts' %}"><i class="fas fa-envelope"></i> Контакты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'myapp:about' %}"><i class="fas fa-info-circle"></i> О нас</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:cabinet' %}"><i class="fas fa-user"></i> Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-link nav-link" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary nav-link" href="{% url 'users:register' %}"><i class="fas fa-user-plus"></i> Зарегистрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<!-- О нас -->
<section class="about container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'myapp/img/about-img.jpg' %}" class="img-fluid" alt="About Image">
        </div>
        <div class="col-md-6">
            <div class="content">
                <span>Добро пожаловать в наш магазин!</span>
                <h3>Мы Сделаем Ваш Дом Еще Более Удивительным</h3>
                <p>Интернет-магазин Croup рад вас приветствовать на сайте, мы надеемся что вам понравятся наши предложения для вас!</p>
                <p>Хотим сделать вашу жизнь легче, а дом - красивее.</p>
                <a href="#" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
    </div>
</section>

<!-- Наши услуги -->
<section class="services container mt-5">
    <h1 class="title text-center mb-4"> <span>Наши услуги</span></h1>
    <div class="box-container row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="box border rounded p-3"> <!-- Добавляем классы для контура и отступов -->
                <img src="{% static 'myapp/img/serv-1.svg' %}" class="img-fluid" alt="Service Image">
                <h3>Продажа продукта</h3>
                <p>Переходите на категории товаров и наслаждайтесь покупкой.</p>
                <a href="#" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="box border rounded p-3">
                <img src="{% static 'myapp/img/serv-2.svg' %}" class="img-fluid" alt="Service Image">
                <h3>Проектирование</h3>
                <p>После выбора товара, вы можете спроектировать свой продукт.</p>
                <a href="#" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="box border rounded p-3">
                <img src="{% static 'myapp/img/serv-3.svg' %}" class="img-fluid" alt="Service Image">
                <h3>24 / 7 поддержка</h3>
                <p>Напишите нам о своей проблеме и наш консультант постарается вам помочь.</p>
                <a href="#" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
    </div>
</section>
<!-- Подвал сайта -->
<section class="footer bg-dark text-white">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="box d-flex flex-column justify-content-between">
                    <h3>Меню</h3>
                    <ul class="list-unstyled">
                        <li><a href="{%url 'myapp:index'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Главная</a></li>
                        <li><a href="{%url 'myapp:shop'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Товары</a></li>
                        <li><a href="{%url 'myapp:about'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>О нас</a></li>
                        <li><a href="{%url 'myapp:contacts'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Контакты</a></li>
                        <li><a href="{%url 'users:cabinet'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Личный кабинет</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box d-flex flex-column justify-content-between">
                    <h3>Информация</h3>
                    <ul class="list-unstyled">
                        <li><a href="{%url 'myapp:about'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Новости</a></li>
                        <li><a href="{%url 'myapp:about'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Общая информация</a></li>
                        <li><a href="{%url 'myapp:contacts'%}" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Адресная книга</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>История заказов</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fas fa-arrow-right"></i>Избранное</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box d-flex flex-column justify-content-between">
                    <h3>Мы в соц.сетях</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none"> <i class="fab fa-facebook-f"></i> facebook</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fab fa-twitter"></i> twitter</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fab fa-instagram"></i> instagram</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fab fa-linkedin"></i> linkedin</a></li>
                        <li><a href="#" class="text-decoration-none"> <i class="fab fa-pinterest"></i> pinterest</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="box d-flex flex-column justify-content-between">
                    <h3>Новостная рассылка</h3>
                    <p>Подпишитесь на последние обновления</p>
                    <form action="">
                        <input type="email" name="" placeholder="введите ваш email" class="form-control mb-2">
                        <input type="submit" value="подписаться" class="btn btn-secondary">
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="credit text-center py-2">
    Ⓒ Akparov Daniyar IS 22/2s
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="{% static 'myapp/js/script.js' %}"></script>

</body>
</html>