<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Подтверждение покупки</title>
</head>
<body>


{% block content %}
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <h2 class="display-4">Заказ успешно оформлен!</h2>
      <p class="lead">Спасибо за ваш заказ. Номер вашего заказа: {{ order_number }}</p>

      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'myapp:shop' %}" role="button">Продолжить покупки</a>
      </p>
    </div>
  </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
