{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
     <!-- Подключение Bootstrap CSS с CDN -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{%static 'myapp/css/style.css'%}">
    

</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}"> <img class="logo" src="{%static 'myapp/img/logo.png'%}"> Croup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop' %}">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
            </ul>
        </div>
    </nav>
  
  
<!-- Ваш шаблон для формы регистрации -->
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <form method="post" class="form-container">
                {% csrf_token %}
                <h3 class="card-title text-center mt-3 mb-3">Регистрация</h3>

                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}">Логин:</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <span class="text-danger">{{ form.name.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <span class="text-danger">{{ form.email.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.street.id_for_label }}">Адрес:</label>
                    {{ form.street }}
                    {% if form.street.errors %}
                        <span class="text-danger">{{ form.street.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.city.id_for_label }}">Город:</label>
                    {{ form.city }}
                    {% if form.city.errors %}
                        <span class="text-danger">{{ form.city.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.state.id_for_label }}">Страна:</label>
                    {{ form.state }}
                    {% if form.state.errors %}
                        <span class="text-danger">{{ form.state.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.phone.id_for_label }}">Телефон:</label>
                    {{ form.phone }}
                    {% if form.phone.errors %}
                        <span class="text-danger">{{ form.phone.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}">Пароль:</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <span class="text-danger">{{ form.password.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.confirm_password.id_for_label }}">Повторите пароль:</label>
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                        <span class="text-danger">{{ form.confirm_password.errors }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-secondary btn-block mb-3">Зарегистрироваться</button>

                <p class="text-center mb-3">Уже есть существующий аккаунт? <a href="{% url 'login' %}" class="btn btn-link">Войти</a></p>
            </form>
        </div>
    </div>
</div>


     
     
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="{% static 'myapp/js/script.js' %}"></script>
     </body>
     </html>
