@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: none;
}

body {
    padding-top: 60px;
    
}

.navbar-brand {
    color: #ffffff; 
}


.logo {
    max-height: 40px;
    margin-right: 10px;
}

.container {
    margin-top: 40px;
}

/* Настройка каталога */
.category-link {
    text-decoration: none;
    color: #000; /* Цвет текста */
}

.category-box {
    border: 1px solid #ddd;
    border-radius: 8px; 
    transition: background-color 0.3s;
}

.category-link:hover .category-box {
    background-color: #df971b;
}

.overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .overlay-buttons {
    opacity: 1;
    visibility: visible;
}


.rating i {
    cursor: pointer;
    transition: color 0.25s;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-text.description {
    flex-grow: 1;
    overflow: hidden;
}

.card:hover .card-img-top {
    transform: scale(1.05);
    transition: transform .3s ease;
  }
  .overlay-buttons {
    opacity: 0;
    transition: opacity .3s ease;
  }
  .card:hover .overlay-buttons {
    opacity: 1;
  }
  

/* Звёздная система */
.star-rating {
    display: inline-block;
    font-size: 1.2rem;
    direction: rtl;              /* для того, чтобы отмеченные звёзды подсвечивались слева */
    unicode-bidi: bidi-override;
  }
  
  .star-rating input {
    display: none;               /* скрываем сами радио-кнопки */
  }
  
  .star-rating label {
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    transition: color .2s;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input:checked ~ label {
    color: #ffc107;              /* подсвеченные звёзды */
  }

  /* временно отключаем оверлей-кнопки */
.overlay-buttons {
    display: none !important;
  }
  